<%= @user.email %>, <%= @user.mobile %>
<% provide(:title, @user.email) %>
<div class="row">
<aside class="col-md-4">
<section class="user info">
<h1>
<%= gravatar_for @user %>
<%= @user.email %>
</h1>
</section>
</aside>
</div>
<%= link_to "Recent Post", '#', class: "btn btn-lg btn-primary" %>